.dockerignore
.env*
.DS_Store
# Ignore python object files
*.py[cod]
*.sublime-workspace
# VIm
*.sw[po]
# EMACs
~
# IntelliJ IDEA
.idea/*
*.iml
# Ansible specific
*.retry
logs/*
*.out
#pyenv
.python-version
app/certs/*.key
app/certs/*.pem
add/certs/*.crt
data/*

